<html>
  <body>
    <p id="notice">
     <%= notice %>
     </p>

    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strongu>Body:</strong>
      <%= @book.body %>
    </p>


    <%= link_to "edit",edit_book_path %>
    <%= link_to "back",books_path %>



  </body>
</html>




